@page "/"
@using System.ComponentModel.DataAnnotations
@inject NavigationManager NavigationManager
@rendermode InteractiveServer
@layout HomepageLayout

<PageTitle>Home</PageTitle>

<h1>"Your fitness journey begins with your decision"!</h1>

"Build strength, build confidence, build your best self"
