@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Web

<PageTitle>PushApps - Fitness aplikacija</PageTitle>

<HeadContent>
    <link rel="stylesheet" href="userLogin.css" />
</HeadContent>


<div class="hero-page">
    <div class="nav-container">
        <nav class="navbar">
            <div class="navbar-brand">
                <a href="/">PushApps</a>
            </div>
            <div class="navbar-links">
                <a href="/" class="nav-link">HOME</a>
                <a href="/login" class="nav-link">LOGIN</a>
            </div>
        </nav>
    </div>
    <div class="main-content">
        @Body
    </div>
</div>

@code {
    [Parameter]
    public RenderFragment LeftContent { get; set; }

    [Parameter]
    public RenderFragment RightContent { get; set; }
}